body {
	padding-top: 80px;
}

.navbar .nav > li > span {
	display: block;
	float: none;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	color: #777777;
	text-shadow: #ffffff;
}
